* {
  box-sizing: border-box;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.pane {
  flex: 1;
  height: 100%;
  border: 0 none;
}

.pane + .pane {
  border-left: 1px solid black;
}

.CodeMirror {
  height: 100%;
}
